.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: var(--branco);
    padding: 10px;
}

.footer__titulo {
    color: var(--azul);
    padding: .5em 10px;
    font-weight: 700;
    font-size: 19px;
}

.footer__texto {
    color: var(--azul);
    padding: 0 10px;
}

.footer__pesquisa {
    background: transparent;
    border: none;
    border: 2px solid var(--azul);
    border-radius: 50px;
    width: 85%;
    padding: 1em;
    color: var(--azul);
}

.footer__pesquisa::placeholder {
    color: var(--azul);
    text-align: center;
    background: url(../icons/Email.svg) 1em no-repeat;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--fonte-principal);

}

/* .footer hr {
    border: none; 
    height: 2px;
    
}

.alura-name {
    color: rgb(99, 84, 0);
    font-size: 20px;
} */


hr {
    margin: 0;
    background-color: var(--azul);
}

.alura-name {
    
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    .lista-rodape {
        display: block;
    }

    .footer__titulo {
        font-size: 24px;
    }
    
    .footer__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .footer__pesquisa {
        width: 37%;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
    }
    
    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__links {
        color: var(--cinza);
        text-decoration: none;
        margin-left: .6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
       color: var(--cinza-claro);
    }
    
    .alura-name {
        font-size: 24px;
        
    }
}