.cabecario__menu-hamburger {
    width: 24px;
    height: 23px;
    background-image: url(../icons/Menu.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.cabecario {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecario__image {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
}

.container__botao {
    appearance: none;
    -webkit-appearance: none; 
    display: none; 
}

.cabecario__menu-hamburger {
    padding: 20px;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em; 
    background-color: var(--branco);
    color: black;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background-image: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

 .container__titulo {
    display: none;
 }

.opcoes {
    display: none;
}

.opcoes__botao {
    appearance: none;
    -webkit-appearance: none; 
    display: none; 
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 32px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .fav_none {
        display: none;
    }

    .opcoes {
        display: flex;
        gap: 40px;
        text-transform: uppercase;
    }

    .cabecario__menu-hamburger {
        display: none;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
}

@media screen  and (min-width: 1300px) {
    .container__link {
        display: flex;
        align-items: center; 
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes {
        margin-right: auto;
    }

    .container__titulo {
        padding: 20px;
    }

    .container__texto {
        display: block;
    }
}